body {
  height: 100vh;
}

.container {
  margin: 2rem 3.6rem 0 3.6rem;
  padding: 1.8rem;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  font-size: 3.6rem;
}

h1 {
  font-size: 2.4rem;
}

.title {
  text-transform: uppercase;
  background-color: #a5d8ff;
  padding: 1.8rem;
  border-radius: 6px;
  text-overflow: ellipsis;
  text-align: center;
}
